{
  "settings": {},
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["eslint-config-typescript", "prettier"],
  "plugins": ["prettier", "eslint-plugin-prettier"],
  "rules": {
    "no-debugger": 0,
    "@typescript-eslint/ban-ts-comment": 0
  }
}
