@import '@/src/assets/styles/mixins.scss';
@import '@/src/assets/styles/variables.scss';

.App {
  text-align: center;
}
.location {
  padding-top: 20px;
  padding-bottom: 0;
  color: map-get($colors, white);

  &__container {
    position: relative;
  }
  &__title {
    text-align: center;
    margin: auto;
    line-height: 50px;
  }

  &__slogan {
    max-width: 680px;
    text-align: center;
    margin-top: 8;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 22px;
  }

  &__map {
    margin-top: 60;
    position: relative;
    color: map-get($colors, dark);
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    z-index: 1;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__svg {
    margin: 40px 0 20px;
    position: relative;
    transition: 0.4s all;
    color: map-get($colors, accent);
    font-weight: 700;
    svg {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 992px) {
      width: 60%;
    }

    [data-state] {
      // position: absolute;
      display: inline-flex;
      align-items: flex-end;
      span {
        margin: 0 8px;
        font-size: 18px;
        line-height: 27px;
      }
    }
    [data-reverse] {
      img {
        order: 1;
      }
    }
    [data-state='WA'] {
      top: 38px;
      left: 90px;
    }
    [data-state='CA'] {
      top: 180px;
      left: 30px;
    }
    [data-state='UT'] {
      top: 220px;
      left: 185px;
    }
    [data-state='NC'] {
      top: 280px;
      right: 120px;
    }
    [data-state='SC'] {
      top: 320px;
      right: 150px;
    }
  }

  &__navigate {
    position: relative;
    flex: 1;
    z-index: 2;
  }
}

.mapInfo {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: map-get($colors, white);
  border: 0.25px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 26px 26px rgba(6, 26, 70, 0.12),
    0px 0px 1px rgba(6, 26, 70, 0.1);
  border-radius: 10px;
  &__layyer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    background: map-get($colors, white);
    padding: 24px;
    transition: 0.2s all;
    &.active {
      left: 0 !important;
      opacity: 1 !important;
      z-index: 1 !important;
    }

    &[data-layyer='stock'],
    &[data-layyer='card'] {
      position: absolute;
      opacity: 0;
      left: 0;
      z-index: -1;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 16px;

    &[data-move='back'] {
      cursor: pointer;

      &:hover {
        &:before {
          left: rem(0);
        }
      }
      &:before {
        content: '\f053';
        position: relative;
        top: -2px;
        left: 3px;
        font-family: 'FontAwesome';
        font-size: rem(16);
        margin-right: rem(16);
        transition: 1s all;
      }
    }
  }

  ul {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      font-size: 18px;
      line-height: 27px;
      transition: 0.4s all;

      button {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: map-get($colors, dark);
        background-color: map-get($colors, white);
        border: 2px solid map-get($colors, dark);
        padding: 10px;
        border-radius: 10px;
        span {
          position: relative;
          font-size: 12px;
          color: inherit;
        }
        &:hover {
          color: map-get($colors, purple);
          border-color:  map-get($colors, purple);
        }
        &[disabled] {
          cursor: initial;
          color: map-get($colors, dark);
          opacity: 0.5;
          &:hover {
            border-color:  inherit;
          }
        }
      }

      &.active {
        @include gradient-color($clr-gradient);
      }

    
    }
    li + li {
      margin-top: rem(12);
    }
  }
}
