@import '../../../node_modules/normalize.css/normalize.css';
@import './variables.scss';

* {
	&::selection {
	  background: transparent;
	  color: map-get($colors, accent);
	  border-radius: 4px;
	}
	@media (min-width: 1024px) {
	  scrollbar-color: map-get($colors, accent) map-get($colors, accent);
	  scrollbar-width: thin;
	  &::-webkit-scrollbar {
		width: 6px;
		background-color: map-get($backgrounds, dark);
		border-radius: 4px;
	  }
	  &::-webkit-scrollbar-thumb {
		background-color: map-get($colors, accent);
		border-radius: 4px;
		box-shadow: none;
		opacity: 1;
		&:hover {
		  background-color: map-get($colors, purple);
		  opacity: 1;
		}
		&:active {
		  opacity: 1;
		  background-color: map-get($colors, purple);
		}
		&:focus {
		  opacity: 1;
		  background-color: map-get($colors, purple);
		}
	  }
	}
  }