$colors: (
  white: #fff,
  accent: #6c5dd3,
  purple: #5f75ee,
  gray: #808191,
  error: #ff0000,
  success: #6dea97,
);

$backgrounds: (
  accent: #6c5dd3,
  purple: #5f75ee,
  dark: #1f2128,
  gray: #242731,
);
