@import '@/src/assets/styles/mixins.scss';
@import '@/src/assets/styles/variables.scss';

.list {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: map-get($colors, white);
  list-style: none;
  gap: 12px;
  margin: initial;
  padding: initial;
  border: 2px dashed currentColor;
  border-radius: 10px;
  padding: 24px 10px;
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  &::before {
		display: flex;
		justify-content: center;
		align-items: center;
    position: absolute;
		font-size: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  &[data-status='win'] {
    border-color: map-get($colors, success);
    &::before {
			content: 'You win!';
      background-color: rgba(map-get($colors, success), 0.4);
    }
  }

  &[data-status='lose'] {
    border-color: map-get($colors, error);
    &::before {
			content: 'You lose!';
      background-color: rgba(map-get($colors, error), 0.4);
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% / 5) - 10px);
    min-width: 130px;
    padding: 10px;
    background: currentColor;
    border: 4px solid map-get($colors, accent);
    border-radius: 10px;
    overflow: hidden;
    &.correct {
      border-color: map-get($colors, success);
    }
    &.wrong {
      border-color: map-get($colors, error);
    }
  }
}

.result {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  color: map-get($colors, accent);
  background: map-get($colors, white);
  border-radius: 10px;
  padding: 2px 4px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: map-get($colors, dark);
  border-radius: 10px;
  font-size: 12px;
  border: none;
  color: map-get($colors, white);
  &[disabled] {
    cursor: initial;
    opacity: 0.5;
  }
  &_reset {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 160px;
    background-color: map-get($colors, accent);
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
}
